// Semantic UI default theme
@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css");

// General
* {
  margin: 0;
}

html, body {
  height: 100%;
}

.main {
  //display: block;
  padding: 30px;
}

// Footer (sticky)
.page {
  min-height: 100vh;
  margin-bottom: -70px;
}

.page:after {
  content: "";
  display: block;
}

.footer, .page:after {
  height: 70px;
}

.footer {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.copyright {
  align-self: center;
}

// PAGES

// Home
.home {
  h1 {
    font-weight: 300;
    text-align: center;
  }

  h2 {
    font-weight: 300;
    text-align: center;
  }

  .office {
    display: block;
    position: relative;
    width: 55vw;
    margin: auto;
  }

  .home-box {
    width: 70vw;
    padding: 15px 0;
  }

  .mailing-list-box {
    width: 35vw;
    margin: auto;
  }
}

// Sign Up
.sign-up {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }
}

// About
.about {
  width: 600px;
  margin: auto;

  h1 {
    font-weight: 300;
  }
}

// Projects
.projects {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
  }

  .project-pic {
    display: block;
    margin: auto;
  }
}

// Team
.team {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
  }

  .employee-pic {
    display: block;
    margin: auto;
    max-width: 200px;
  }
}

// Jobs
.jobs {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
  }

  .job-box {
    padding: 0.8rem 0;
  }

  .job-time {
    font-weight: 200;
    font-style: italic;
  }
}

// FAQ
.faq {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }
}

// Contact
.contact {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
  }

  .contact-info {

    h3 {
      font-weight: 300;
      line-height: 1.4em;

      a {
        text-decoration: none;
      }
    }
  }

  .iframe-loading {
    background:url(../assets/icons/loading.gif) center center no-repeat;
  }
}

// Weather
.weather {
  width: 250px;
  float: right;

  .owi {
    font-size: 2em;
  }

  h4 {
    font-weight: 300;
    font-style: italic;
  }
}

// Blog
.blog {
  min-width: 400px;

  h1 {
    font-weight: 300;
  }

  h3 {
    font-weight: 300;
  }
}
